/* Réinitialisation légère pour un rendu cohérent */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

button,
input,
textarea,
select {
    font: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


